<% provide(:title, "Help") %>


<h1>Help!</h1>
<h2>When you need someone</h2>
<p>
  Get help for Ruby on rails at <a href="https://www.railstutorial.org/help">Rails Tutorial help page</a>.
  To get help for the sample app <a href="https://www.railstutorial.org/book"<em> Ruby on rails tutorial </em>
  book </a>

</p>
